:local(.mainPage) {
  display: flex;
  height: calc(100% - 84px);
}

:local(.search) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

:local(.searchInput) {
  margin-left: 20px;
}

:local(.list) {
  padding: 20px;
  border-right: 1px solid white;
}

:local(.details) {
  width: 100%;
  padding: 20px;
  text-align: center;
  overflow: scroll;
}

:local(.details) ul {
  list-style: none;
}

:local(.ingredients) {
  list-style: none;
}

:local(.errorPage) {
  text-align: center;
}

:local(.errorTitle) {
  font-size: 34px;
}

:local(.drinkImg) {
  width: 300px;
}

:local(.drinkSearchImg) {
  width: 200px;
}

:local(.searchItem) {
  width: 200px;
}

:local(.searchItem):not(:first-child) {
  margin-left: 10px;
}

:local(.searchWindow) {
  display: flex;
  flex-wrap: wrap;
}
