:local(.mainPage) {
  display: flex;
  height: calc(100% - 84px);
}

:local(.list) {
  padding: 20px;
  border-right: 1px solid white;
}

:local(.details) {
  width: 100%;
  padding: 20px;
  text-align: center;
  overflow: scroll;
}

:local(.details) ul {
  list-style: none;
}

:local(.ingredients) {
  list-style: none;
}

:local(.errorPage) {
  text-align: center;
}

:local(.errorTitle) {
  font-size: 34px;
}

:local(.drinkImg) {
  width: 300px;
}
